
themes {
    github-dark {
        bg "#010409" // panel.background
        fg "#e6edf3" // foreground

        // terminal.ansi*
        black "#484f58"
        red "#ff7b72"
        green "#3fb950"
        yellow "#d29922"
        blue "#58a6ff"
        magenta "#bc8cff"
        cyan "#39c5cf"
        // white "#b1bac4"
        white "#8E959E"

        // TODO: Not found in github theme
        orange "#FF9E64"
    }


    // VSCode github theme: GitHub Dark Default
    // ~/.vscode/extensions/github.github-vscode-theme-6.3.4/themes/dark-default.json

    // "terminal.foreground": "#e6edf3",
    // "terminal.ansiBlack": "#484f58",
    // "terminal.ansiRed": "#ff7b72",
    // "terminal.ansiGreen": "#3fb950",
    // "terminal.ansiYellow": "#d29922",
    // "terminal.ansiBlue": "#58a6ff",
    // "terminal.ansiMagenta": "#bc8cff",
    // "terminal.ansiCyan": "#39c5cf",
    // "terminal.ansiWhite": "#b1bac4",

    // "terminal.ansiBrightBlack": "#6e7681",
    // "terminal.ansiBrightRed": "#ffa198",
    // "terminal.ansiBrightGreen": "#56d364",
    // "terminal.ansiBrightYellow": "#e3b341",
    // "terminal.ansiBrightBlue": "#79c0ff",
    // "terminal.ansiBrightMagenta": "#d2a8ff",
    // "terminal.ansiBrightCyan": "#56d4dd",
    // "terminal.ansiBrightWhite": "#ffffff",
}